<mat-card style="width: 750px;">
  <mat-card-title>Archetype</mat-card-title>
  <mat-card-subtitle>A broad mind lacks focus.</mat-card-subtitle>
  <mat-accordion class="character-archetype-options">
    <h2>Adeptus Ministorum</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Ministorum Priest
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 12 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A zealous preacher of the Imperial Creed.</p>
      <hr>
      <h3 class="character-archetype-bonus">Bonuses:</h3>
      <p>Attributes: Willpower 3</p>
      <p>Skills: Scholar 1</p>
      <p>Keywords: IMPERIUM, ADEPTUS MINISTORUM</p>
      <hr>
      <h3 class="character-species-abilities-human">Special Abilities:</h3>
      <p>Fiery Invective</p>
      <hr>
      <h3>Keywords:</h3>
      <hr>
      <h3>Wargear:</h3>
      <button mat-raised-button color="primary" style="float: right">Select Archetype</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Ministorum Priest
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 12 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A zealous preacher of the Imperial Creed.</p>
      <hr>
      <h3 class="character-archetype-bonus">Bonuses:</h3>
      <p>Attributes: Willpower 3</p>
      <p>Skills: Scholar 1</p>
      <p>Keywords: IMPERIUM, ADEPTUS MINISTORUM</p>
      <hr>
      <h3 class="character-species-abilities-human">Special Abilities:</h3>
      <p>Fiery Invective</p>
      <hr>
      <h3>Keywords:</h3>
      <hr>
      <h3>Wargear:</h3>
      <button mat-raised-button color="primary" style="float: right">Select Archetype</button>
    </mat-expansion-panel>

    <h2>Adepta Sororitas</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Sister Hospitaller
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 24 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A pious healer dedicated to care of both body and soul.</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>