<mat-card style="width: 750px;">
  <mat-card-title>Archetype</mat-card-title>
  <mat-card-subtitle>A broad mind lacks focus.</mat-card-subtitle>
  <mat-accordion class="character-archetype-options">
    <mat-expansion-panel *ngFor="let archetype of archetypes">
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          {{archetype.name}}
        </mat-panel-title>
        <mat-panel-description class="character-archetype-tier-cost">
          Tier: {{archetype.tier}} | Cost: {{archetype.cost}} XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="character-archetype-description" style="font-style: italic">
        {{archetype.description}}
      </p>
      <div *ngIf="archetype.bonuses">
        <hr>
        <h3>Bonuses</h3>
        <div *ngIf="archetype.bonuses.attributes">
          <strong>Attributes</strong> -
          <div *ngFor="let attribute of archetype.bonuses.attributes" class="character-archetype-bonus">
            {{attribute.name}}: {{attribute.value}}
          </div>
          <br>
        </div>
        <div *ngIf="archetype.bonuses.skills">
          <strong>Skills</strong> -
          <div *ngFor="let skill of archetype.bonuses.skills" class="character-archetype-bonus">
            {{skill.name}}: {{skill.value}}
          </div>
        </div>
        <div *ngIf="archetype.bonuses.keywords">
          <strong>Keywords</strong> - {{archetype.bonuses.keywords.join(', ')}}
        </div>
        <div *ngIf="archetype.bonuses.influence">
          <strong>Influence Bonus</strong>: {{archetype.bonuses.influence > 0 ? "+" : ""}}{{archetype.bonuses.influence}}
        </div>
      </div>
      <div *ngIf="archetype.abilities" class="character-archetype-abilities">
        <hr>
        <h3>Special Abilities</h3>
        <div *ngFor="let ability of archetype.abilities">
        <strong>{{ability.name}}</strong> - {{ability.description}}
        </div>
      </div>
      <div *ngIf="archetype.wargear" class="character-archetype-wargear">
        <hr>
        <h3>Wargear</h3>
        <div>
          {{archetype.wargear.join(', ')}}
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="updateHeroArchetype(archetype)" class="save-button">Select Archetype</button>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
    <!--<h2>Adeptus Ministorum</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Ministorum Priest
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 12 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A zealous preacher of the Imperial Creed.</p>
      <hr>
      <h3 class="character-archetype-bonus">Bonuses:</h3>
      <p>Attributes: Willpower 3</p>
      <p>Skills: Scholar 1</p>
      <p>Keywords: IMPERIUM, ADEPTUS MINISTORUM</p>
      <hr>
      <h3 class="character-species-abilities-human">Special Abilities:</h3>
      <p>Fiery Invective</p>
      <hr>
      <h3>Keywords:</h3>
      <hr>
      <h3>Wargear:</h3>
      <button mat-raised-button color="primary" style="float: right">Select Archetype</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Ministorum Priest
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 12 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A zealous preacher of the Imperial Creed.</p>
      <hr>
      <h3 class="character-archetype-bonus">Bonuses:</h3>
      <p>Attributes: Willpower 3</p>
      <p>Skills: Scholar 1</p>
      <p>Keywords: IMPERIUM, ADEPTUS MINISTORUM</p>
      <hr>
      <h3 class="character-species-abilities-human">Special Abilities:</h3>
      <p>Fiery Invective</p>
      <hr>
      <h3>Keywords:</h3>
      <hr>
      <h3>Wargear:</h3>
      <button mat-raised-button color="primary" style="float: right">Select Archetype</button>
    </mat-expansion-panel>

    <h2>Adepta Sororitas</h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-archetype-name">
          Sister Hospitaller
        </mat-panel-title>
        <mat-panel-description>
          Tier: 1 | Cost: 24 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p style="font-style: italic">A pious healer dedicated to care of both body and soul.</p>
    </mat-expansion-panel> -->