<div *ngIf="hero">
  <div class="character-sheet-container">
    <div class="row">
      <div class="col-4">
        <app-hero-info-panel></app-hero-info-panel>
      </div>
      <div class="col-4">
        <app-hero-survival-panel></app-hero-survival-panel>
      </div>
    </div>
    <div class="row">
      <div class="col-2" style="display: table">
        <app-hero-attributes-panel></app-hero-attributes-panel>
        <app-hero-traits-panel></app-hero-traits-panel>
      </div>
      <div class="col-3" style="display: table">
        <app-hero-skills-panel></app-hero-skills-panel>
      </div>
      <div class="col-6" style="display: table">
        hi
      </div>
    </div>
  </div>

  <label for="hero-name">Hero name: </label>
  <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  <button mat-raised-button color="primary" type="button" (click)="save()">save</button>

</div>