<table class="character-survival-table">
  <tr>
    <th colSpan={2}>
      Wounds
    </th>
  </tr>
  <tr>
    <td><input type="number" style="width: 50px"></td>
    <td *ngIf="hero">{{hero.traitMaxWounds}}</td>
  </tr>
  <tr>
    <th>Current</th>
    <th>Max</th>
  </tr>
</table>
<table class="character-survival-table">
  <tr>
    <th>Defence</th>
  </tr>
  <tr>
    <td *ngIf="hero">{{hero.traitDefence}}</td>
  </tr>
</table>
<table class="character-survival-table">
  <tr>
    <th>Resilience</th>
  </tr>
  <tr>
    <td *ngIf="hero">{{hero.traitResilience}}</td>
  </tr>
</table>
<table class="character-survival-table">
  <tr>
    <th>Determination</th>
  </tr>
  <tr>
    <td *ngIf="hero">{{hero.traitDetermination}}</td>
  </tr>
</table>