.info-button {
  color: #a9a9a9;
  margin-left: 5px;
  font-size: 22px;
}

.save-button {
  float: right;
  margin-top: 40px;
}

.save-button:hover {
  background-color: #000000;
}

/*.hero-builder-info-field {
  margin-right: 70px;
  display: inline-block;
}*/