<mat-card *ngIf="hero" style="width: 768px">
  <mat-card-title>Info</mat-card-title>
  <mat-card-subtitle>One amongst untold billions...</mat-card-subtitle>
  <!--<div class="row">-->
    <div class="hero-builder-info-field">
      <mat-form-field appearance="outline">
        <mat-label>Character Name</mat-label>
        <input matInput id="hero-builder-name" [(ngModel)]="hero.name">
      </mat-form-field>
    </div>
    <div class="hero-builder-info-field">
      <mat-form-field appearance="outline">
        <mat-label>Tier</mat-label>
        <mat-select id="hero-builder-tier" [(ngModel)]="hero.tier">
          <mat-option [value]="1">Tier 1</mat-option>
          <mat-option [value]="2">Tier 2</mat-option>
          <mat-option [value]="3">Tier 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon class="info-button" matTooltip="Your tier is the power level of your group and determines your starting XP." matTooltipPosition="right">info_outline</mat-icon>
    </div>
    <div class="hero-builder-info-field">
      <mat-form-field appearance="outline">
        <mat-label>Rank</mat-label>
        <input matInput type="number" placeholder="Rank" [(ngModel)]="hero.rank">
      </mat-form-field>
      <mat-icon class="info-button" matTooltip="Your Rank is a measure of your aptitude in your Tier. Some of your abilities and Talents may be modified by your Rank. Unless the GM says otherwise, you start at Rank 1." matTooltipPosition="right">info_outline</mat-icon>
    </div>
    <div class="hero-builder-info-field">
      <mat-form-field appearance="outline">
        <mat-label>Earned Experience Points (XP)</mat-label>
        <input matInput type="number" placeholder="XP" [(ngModel)]="hero.earnedXp">
      </mat-form-field>
      <mat-icon class="info-button" matTooltip="XP earned by playing the game. Given by the GM." matTooltipPosition="right">info_outline</mat-icon>
      <button mat-raised-button color="primary" (click)="updateHero()" class="save-button">Save</button>
    </div>
  <!--</div>-->
</mat-card>