<mat-card style="width: 768px;">
  <mat-card-title>Stats</mat-card-title>
  <mat-card-subtitle>Success is measured in blood; yours or your enemy's.</mat-card-subtitle>
  <div class="row">
    <div class="col-5" style="display: table">
      <app-hero-builder-attributes-panel></app-hero-builder-attributes-panel>
      <app-hero-builder-traits-panel></app-hero-builder-traits-panel>
    </div>
    <div class="col-6" style="display: table">
      <app-hero-builder-skills-panel></app-hero-builder-skills-panel>
    </div>
  </div>
</mat-card>