
<div class="row">
  200 / 200 XP
  <a mat-raised-button color="primary" *ngIf="hero" routerLink="/characters/{{hero.id}}/builder/info">Info</a>
  <a mat-raised-button color="primary" *ngIf="hero" routerLink="/characters/{{hero.id}}/builder/species">Species</a>
  <a mat-raised-button color="primary" *ngIf="hero" routerLink="/characters/{{hero.id}}/builder/archetype">Archetype</a>
  <a mat-raised-button color="primary" *ngIf="hero" routerLink="/characters/{{hero.id}}/builder/stats">Stats</a>
</div>