<mat-card style="width: 750px;">
  <mat-card-title>Faction</mat-card-title>
  <mat-card-subtitle>There is no peace amongst the stars. All must choose a side or die.</mat-card-subtitle>
  <mat-accordion class="character-faction-options">
    <mat-expansion-panel *ngFor="let faction of factions">
      <mat-expansion-panel-header>
        <mat-panel-title class="character-faction-name">
          {{faction.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="character-faction-description" style="font-style: italic">
        {{faction.description}}
      </p>
      <div *ngIf="faction.keywords">
        <hr>
        <h3>Keywords</h3>
        <div *ngFor="let keyword of faction.keywords" class="character-faction-keywords">
          {{keyword}}
        </div>
      </div>
      <div *ngIf="faction.archetypes">
        <hr>
        <h3>Archetypes</h3>
        <div *ngFor="let archetype of faction.archetypes" class="character-faction-archetypes">
          {{archetype}}
        </div>
      </div>
      <button mat-raised-button color="primary" style="float: right" (click)="updateHeroFaction(faction)">Select Faction</button>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>