<mat-card style="width: 768px">
  <mat-card-title>Species</mat-card-title>
  <mat-card-subtitle>Aliens, heretics, mutants - and worse.</mat-card-subtitle>
  <mat-accordion class="character-species-options">
    <mat-expansion-panel *ngFor="let species of species">
      <mat-expansion-panel-header>
        <mat-panel-title class="character-species-name">
          {{species.name}}
        </mat-panel-title>
        <mat-panel-description class="character-species-cost">
          Cost: {{species.cost}} XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="character-species-description" style="font-style: italic">
        {{species.description}}
      </p>
      <p><strong>Speed</strong> - {{species.speed}}</p>
      <div *ngIf="species.bonuses">
        <hr>
        <h3>Levelses</h3>
        <div *ngIf="species.bonuses.attributes">
          <strong>Attributes</strong> -
          <div *ngFor="let attribute of species.bonuses.attributes" class="character-species-bonus">
            {{attribute.name}}: {{attribute.value}}
          </div>
          <br>
        </div>
        <div *ngIf="species.bonuses.skills">
          <strong>Skills</strong> -
          <div *ngFor="let skill of species.bonuses.skills" class="character-species-bonus">
            {{skill.name}}: {{skill.value}}
          </div>
        </div>
      </div>
      <div *ngIf="species.abilities" class="character-species-abilities">
        <hr>
        <h3>Special Abilities</h3>
        <div *ngFor="let ability of species.abilities">
        <strong>{{ability.name}}</strong> - {{ability.description}}
        </div>
      </div>
      <button mat-raised-button color="primary" (click)="updateHeroSpecies(species)" class="save-button">Select Species</button>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
    <!--
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title class="character-species-name-human">
          Human
        </mat-panel-title>
        <mat-panel-description class="character-species-cost-human">
          Cost: 0 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p class="character-species-description-human" style="font-style: italic">The uncounted trillions of Humans are the most numerous and widespread Species in the galaxy. The fathomless multitudes are spread across a million worlds with endless variety in mind and body. Little of the pure Human form has changed in the past forty Millennia, united as most Humans are in the God-Emperor's vast Imperium.</p>
      <hr>
      <h3 class="character-species-bonus-human">Levelses:</h3>
      <p>Attributes: None <mat-icon></mat-icon></p>
      <p>Skills: None</p>
      <p>Speed: 6</p>
      <hr>
      <h3 class="character-species-abilities-human">Special Abilities:</h3>
      <p>None</p>
      <button mat-raised-button color="primary" style="float: right">Select Species</button>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Aeldari
        </mat-panel-title>
        <mat-panel-description>
          Cost: 10 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ork
        </mat-panel-title>
        <mat-panel-description>
          Cost: 20 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Astartes
        </mat-panel-title>
        <mat-panel-description>
          Cost: 160 XP
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel> -->
