.stat-table-container {
  box-shadow: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;
  margin-bottom: 20px;
}

.stat-table-title {
  margin-bottom: 0px;
  text-align: center;
  background-color: #3F51B5;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.mat-skill-header {
  justify-content: left;
}

.word-skill {
  margin-left: 16px;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.mat-column-attribute {
  justify-content: center;
}

.mat-column-rating {
  max-width: 48px;
  justify-content: center;
}

.mat-column-bonus {
  max-width: 48px;
  justify-content: center;
}

.mat-column-total {
  max-width: 48px;
  justify-content: center;
}

.mat-icon-button {
  width: 16px;
  height: 16px;
  line-height: 0px;
}

.mat-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px !important;
}